.country{
    border: 2px solid steelblue;
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
}
.country img{
    height: 200px;
}
.country button{
    background-color: aqua;
    margin-right: 10px;
}
.visited{
    background-color: blueviolet;
}